* {
    margin: 0;
    padding: 0;
  }

.banner-image{
    
    background-image:url("/images/desktop.jpg"), -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;

    min-height: 800px;
    -webkit-transition: all 0.3s ease-in-out;
    background-attachment: fixed;
  
}

.containeraa{
    overflow: hidden;
    
}


.banner-image:hover{
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition: all 0.3s ease-in-out;
}

.container img{
    max-width: 420px;
}